<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="assets/img/nuvole.jpg" class="img-fluid" alt="">
            </div> -->
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h1>Meteo</h1>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua.
                </p>
                <ul>
                    <li *ngIf="r!=null"><i class="bi bi-check-circle"></i> {{r.name}} </li>
                    <li *ngIf="l!=null"><i class="bi bi-check-circle"></i> {{l.name}}</li>
                    <li *ngIf="p!=null"><i class="bi bi-check-circle"></i> {{p.name}}</li>
                    <li *ngIf="d!=null"><i class="bi bi-check-circle"></i> {{d.name}}</li>
                    <li *ngIf="t!=null"><i class="bi bi-check-circle"></i> {{t.name}}</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">

            <!--Rome-->
            <div >

                <div class="box" *ngIf="r!=null">

                    <div class="upper-data">

                        <img src="./assets/img/rome/rome.clear.jpg" *ngIf="(r.weather[0].main=='Clear')">
                        <img src="./assets/img/rome/rome.thunderstorm.jpg" *ngIf="(r.weather[0].main=='Thunderstorm')">
                        <img src="./assets/img/rome/rome.rain.jpg" *ngIf="r.weather[0].main=='Rain','Drizzle'">
                        <img src="./assets/img/rome/rome.snow.jpg" *ngIf="r.weather[0].main=='snow','Snow'">
                        <img src="./assets/img/rome/rome.fog.jpg" *ngIf="r.weather[0].main=='Mist','Smoke'">
                        <img src="./assets/img/rome/rome.fog.jpg" *ngIf="r.weather[0].main=='Haze','Dust'">
                        <img src="./assets/img/rome/rome.fog.jpg" *ngIf="r.weather[0].main=='Fog','Sand'">
                        <img src="./assets/img/rome/rome.fog.jpg" *ngIf="r.weather[0].main=='Ash','Squall'">
                        <img src="./assets/img/rome/rome.clouds.jpg" *ngIf="r.weather[0].main=='Clouds'">

                        <!-- <img src="..\assets\img\rome\colosseo.night.jpg"  *ngIf="r.sys.sunset *1000 | date:' H:mm '">  -->

                        <div class="weather-data" *ngIf="r!=null">

                            <div class="location"> <a
                                    href="https://api.openweathermap.org/data/2.5/weather?q=Rome,it&units=metric&APPID=cb5d3d24cc2dc36770dcf60ded8c0e5c"
                                    target="_blank" style="font-style: italic;  color:  rgba(237, 161, 19, 0.92)">
                                    <b>{{r.name }}</b></a></div>
                            <div class="temperature">{{r.main.temp | number: '1.0-0'}}°C</div>

                        </div>

                    </div>

                    <div class="lower-data">
                        <div class="more-info-label">
                            <h6><b>More Information </b></h6>
                        </div>

                        <div class="more-info-container">
                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.min.jpg">
                                    <span><b>min</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{r.main.temp_min | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.max.jpg">
                                    <span><b>max</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{r.main.temp_max | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/wind.png">

                                </div>

                                <div class="info-block-value">
                                    {{r.wind.speed | number: '1.0-0'}} km/h
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/humidity.png">
                                </div>
                                <div class="info-block-value">
                                    {{r.main.humidity | number: '1.0-0' }} %
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label" style=" font-style: italic; width: 100%; height:30px">
                                    <div class="info-block-value-description"
                                        style="align-items: center; text-transform: uppercase; width: 0%; ">
                                        <b>{{r.weather[0].description}}</b>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <!--London-->
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up">

                <div class="box" *ngIf="l!=null">
                    <div class="upper-data">

                        <img src="./assets/img/london/london.clear.jpg" *ngIf="l.weather[0].main=='Clear'">
                        <img src="./assets/img/london/london.thunderstorm.jpg" *ngIf="l.weather[0].main=='Thunderstorm'">
                        <img src="./assets/img/london/london.rain.jpg" *ngIf="l.weather[0].main=='Rain','Drizzle'">
                        <img src="./assets/img/london/london.snow.jpg" *ngIf="l.weather[0].main=='snow', 'Snow'">
                        <img src="./assets/img/london/london.fog.jpg" *ngIf="l.weather[0].main=='Mist','Smoke'">
                        <img src="./assets/img/london/london.fog.jpg" *ngIf="l.weather[0].main=='Haze','Dust'">
                        <img src="./assets/img/london/london.fog.jpg" *ngIf="l.weather[0].main=='Fog','Sand'">
                        <img src="./assets/img/london/london.fog.jpg" *ngIf="l.weather[0].main=='Ash','Squall'">
                        <img src="./assets/img/london/london.clouds.jpg" *ngIf="l.weather[0].main=='Clouds'">


                        <div class="weather-data" *ngIf="l!=null">
                            <div class="location"> <a
                                    href="https://api.openweathermap.org/data/2.5/weather?q=London,uk&units=metric&APPID=cb5d3d24cc2dc36770dcf60ded8c0e5c"
                                    target="_blank" style="font-style: italic;  color:  rgba(237, 161, 19, 0.92)">
                                    <b>{{l.name}}</b></a></div>
                            <div class="temperature">{{l.main.temp | number: '1.0-0'}}°C</div>
                        </div>
                    </div>

                    <div class="lower-data">
                        <div class="more-info-label">
                            <h6><b>More Information</b></h6>
                        </div>
                        <div class="more-info-container">
                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.min.jpg">
                                    <span><b>min</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{l.main.temp_min | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.max.jpg">
                                    <span><b>max</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{l.main.temp_max | number: '1.0-0'}} °C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/wind.png">
                                </div>

                                <div class="info-block-value">
                                    {{l.wind.speed | number: '1.0-0'}} km/h
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/humidity.png">
                                </div>
                                <div class="info-block-value">
                                    {{l.main.humidity | number: '1.0-0' }} %
                                </div>
                            </div>


                            <div class="info-block">
                                <div class="info-block-label" style=" font-style: italic; width: 100%; height:30px">
                                    <div class="info-block-value-description"
                                        style="align-items: center; text-transform: uppercase; width: 0%; ">
                                        <b>{{l.weather[0].description}}</b>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <!--Paris-->
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up">

                <div class="box" *ngIf="p!=null">

                    <div class="upper-data">
                        <img src="./assets/img/paris/paris.clear.jpg" *ngIf="p.weather[0].main=='Clear'">
                        <img src="./assets/img/paris/paris.thunderstorm.jpg" *ngIf="p.weather[0].main=='Thunderstorm'">
                        <img src="./assets/img/paris/paris.rain.jpg" *ngIf="p.weather[0].main=='Rain','Drizzle'">
                        <img src="./assets/img/paris/paris.snow.jpg" *ngIf="p.weather[0].main=='snow','Snow'">
                        <img src="./assets/img/paris/paris.fog.jpg" *ngIf="p.weather[0].main=='Mist','Smoke'">
                        <img src="./assets/img/paris/paris.fog.jpg" *ngIf="p.weather[0].main=='Haze','Dust'">
                        <img src="./assets/img/paris/paris.fog.jpg" *ngIf="p.weather[0].main=='Fog','Sand'">
                        <img src="./assets/img/paris/paris.fog.jpg" *ngIf="p.weather[0].main=='Ash','Squall'">
                        <img src="./assets/img/paris/paris.clouds.jpg" *ngIf="p.weather[0].main=='Clouds'">


                        <div class="weather-data" *ngIf="p!=null">

                            <div class="location"> <a
                                    href="https://api.openweathermap.org/data/2.5/weather?q=Paris,fr&units=metric&APPID=cb5d3d24cc2dc36770dcf60ded8c0e5c"
                                    target="_blank" style="font-style: italic;  color: rgba(237, 161, 19, 0.92)">
                                    <b>{{p.name}}</b></a> </div>
                            <div class="temperature">{{p.main.temp | number: '1.0-0'}}°C</div>
                        </div>
                    </div>

                    <div class="lower-data">
                        <div class="more-info-label">
                            <h6><b>More Information</b></h6>
                        </div>
                        <div class="more-info-container">
                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="../assets/img/temp.min.jpg">
                                    <span><b>min</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{p.main.temp_min | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.max.jpg">
                                    <span><b>max</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{p.main.temp_max | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="../assets/img/wind.png">
                                </div>
                                <div class="info-block-value">
                                    {{p.wind.speed | number: '1.0-0'}} km/h
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/humidity.png">
                                </div>
                                <div class="info-block-value">
                                    {{p.main.humidity | number: '1.0-0' }} %
                                </div>
                            </div>


                            <div class="info-block">
                                <div class="info-block-label" style=" font-style: italic; width: 100%; height:30px">
                                    <div class="info-block-value-description"
                                        style="align-items: center; text-transform: uppercase; width: 0%; ">
                                        <b>{{p.weather[0].description}}</b>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

            <!--Dublin-->
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up">

                <div class="box" *ngIf="d!=null">
                    <div class="upper-data">

                        <img src="./assets/img/dublin/dublin.clear.jpg" *ngIf="d.weather[0].main=='Clear'">
                        <img src="./assets/img/dublin/dublin.thunderstorm.jpg"
                            *ngIf="d.weather[0].main=='Thunderstorm'">
                        <img src="./assets/img/dublin/dublin.rain.jpg" *ngIf="d.weather[0].main=='Rain','Drizzle'">
                        <img src="./assets/img/dublin/dublin.snow.jpg" *ngIf="d.weather[0].main=='snow','Snow'">
                        <img src="./assets/img/dublin/dublin.fog.jpg" *ngIf="d.weather[0].main=='Mist','Smoke'">
                        <img src="./assets/img/dublin/dublin.fog.jpg" *ngIf="d.weather[0].main=='Haze','Dust'">
                        <img src="./assets/img/dublin/dublin.fog.jpg" *ngIf="d.weather[0].main=='Fog','Sand'">
                        <img src="./assets/img/dublin/dublin.fog.jpg" *ngIf="d.weather[0].main=='Ash','Squall'">
                        <img src="./assets/img/dublin/dublin.clouds.jpg" *ngIf="d.weather[0].main=='Clouds'">



                        <div class="weather-data" *ngIf="d!=null">

                            <div class="location"> <a
                                    href="https://api.openweathermap.org/data/2.5/weather?q=Dublin,ie&units=metric&APPID=cb5d3d24cc2dc36770dcf60ded8c0e5c"
                                    target="_blank" style="font-style: italic;  color: rgba(237, 161, 19, 0.92)">
                                    <b>{{d.name}}</b></a></div>
                            <div class="temperature">{{d.main.temp | number: '1.0-0'}}°C</div>
                        </div>
                    </div>

                    <div class="lower-data">
                        <div class="more-info-label">
                            <h6><b>More Information</b></h6>
                        </div>
                        <div class="more-info-container">
                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.min.jpg">
                                    <span><b>min</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{d.main.temp_min | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.max.jpg">
                                    <span><b>max</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{d.main.temp_max | number: '1.0-0'}}°C
                                </div>
                            </div>


                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/wind.png">
                                </div>
                                <div class="info-block-value">
                                    {{d.wind.speed | number: '1.0-0'}} km/h
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/humidity.png">
                                </div>
                                <div class="info-block-value">
                                    {{d.main.humidity | number: '1.0-0' }} %
                                </div>
                            </div>


                            <div class="info-block">
                                <div class="info-block-label" style=" font-style: italic; width: 100%; height:30px">
                                    <div class="info-block-value-description"
                                        style="align-items: center; text-transform: uppercase; width: 0%; ">
                                        <b>{{d.weather[0].description}}</b>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!--Tokyo-->
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up">

                <div class="box" *ngIf="t!=null">
                    <div class="upper-data">


                        <img src="./assets/img/tokyo/tokyo.clear.jpg" *ngIf="t.weather[0].main=='Clear'">
                        <img src="./assets/img/tokyo/tokyo.thunderstorm.jpg" *ngIf="t.weather[0].main=='Thunderstorm'">
                        <img src="./assets/img/tokyo/tokyo.rain.jpg" *ngIf="t.weather[0].main=='Rain','Drizzle'">
                        <img src="./assets/img/tokyo/tokyo.snow.jpg" *ngIf="t.weather[0].main=='snow','Snow'">
                        <img src="./assets/img/tokyo/tokyo.fog.jpg" *ngIf="t.weather[0].main=='Mist','Smoke'">
                        <img src="./assets/img/tokyo/tokyo.fog.jpg" *ngIf="t.weather[0].main=='Haze','Dust'">
                        <img src="./assets/img/tokyo/tokyo.fog.jpg" *ngIf="t.weather[0].main=='Fog','Sand'">
                        <img src="./assets/img/tokyo/tokyo.fog.jpg" *ngIf="t.weather[0].main=='Ash','Squall'">
                        <img src="./assets/img/tokyo/tokyo.clouds.jpg" *ngIf="t.weather[0].main=='Clouds'">



                        <div class="weather-data" *ngIf="t!=null">
                            <div class="location"> <a
                                    href="https://api.openweathermap.org/data/2.5/weather?q=Tokyo,jp&units=metric&APPID=cb5d3d24cc2dc36770dcf60ded8c0e5c"
                                    target="_blank" style="font-style: italic;  color: rgba(237, 161, 19, 0.92)">
                                    <b>{{t.name}} </b></a> </div>
                            <div class="temperature">{{t.main.temp | number: '1.0-0'}}°C</div>
                        </div>
                    </div>

                    <div class="lower-data">
                        <div class="more-info-label">
                            <h6><b>More Information</b></h6>
                        </div>
                        <div class="more-info-container">
                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.min.jpg">
                                    <span><b>min</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{t.main.temp_min | number: '1.0-0'}}°C
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/temp.max.jpg">
                                    <span><b>max</b></span>
                                </div>
                                <div class="info-block-value">
                                    {{t.main.temp_max | number: '1.0-0'}}°C
                                </div>
                            </div>


                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/wind.png">
                                </div>
                                <div class="info-block-value">
                                    {{t.wind.speed | number: '1.0-0'}} km/h
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-block-label">
                                    <img src="./assets/img/humidity.png">
                                </div>
                                <div class="info-block-value">
                                    {{t.main.humidity | number: '1.0-0' }} %
                                </div>
                            </div>


                            <div class="info-block">
                                <div class="info-block-label" style="font-style: italic;  width: 100%; height:30px">
                                    <div class="info-block-value-description"
                                        style=" align-items: center; text-transform: uppercase; width: 0%; ">
                                        <b>{{t.weather[0].description}}</b>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>




        </div>

    </div>
</section><!-- End Why Us Section -->